.wp-block-accordion{
    width: 100%;
    text-align: left;
}

.wp-block-accordion-heading__toggle {
    max-width: unset;
    padding: 16px;

    &:hover,
    &:active {
        background-color: transparent !important;
    }
}

.wp-block-accordion-heading{
    margin: 0 !important;
    padding: 0;
    position: relative;
    &::after {
        content: url('../images/accordion-arrow.svg');
        display: block;
        position: absolute;
        right: 16px;
        top: 8px;
        transition: transform 0.3s ease-in-out;
        pointer-events: none;
    }
}

.is-open .wp-block-accordion-heading{
    &::after {
        transform: rotate(180deg);
    }
}

.wp-block-accordion-heading__toggle-title {
    font-family: var(--base-font);
    line-height: var(--base-height);
    font-size: var(--wp--preset--font-size--base);
    font-weight: var(--font-weight-bold);
    color: var(--negro);
    padding-right: 32px;

}

.wp-block-accordion-heading__toggle-icon{
    display: none;
}

.wp-block-accordion-heading__toggle:hover .wp-block-accordion-heading__toggle-title {
    text-decoration: none;

}

.wp-block-accordion-item{
    border-bottom: 1px solid var(--red);
    margin-top: 0 !important;

}

.wp-block-accordion-panel{
    overflow: hidden;
    display: block !important;
    padding: 0 40px 0 16px;
    margin-top: 0 !important;
    max-height: 0;
    transition: max-height 0.35s ease-in-out;

    > *:last-child {
        margin-bottom: 25px;
    }


    @supports (interpolate-size: allow-keywords) {
        interpolate-size: allow-keywords;
        max-height: none;
        height: 0;
        transition: height 0.3s ease-in-out;
    }
}

.wp-block-accordion-item.is-open .wp-block-accordion-panel{
    max-height: 1000px;

    @supports (interpolate-size: allow-keywords) {
        height: auto;
    }
}

.b-section .wp-block-accordion{
    max-width: var(--contentsize);
    margin-left: auto;
    margin-right: auto;
}
