.wp-block-buttons.is-style-movil_centered,
.is-style-movil_centered .wp-block-buttons {
    @media (max-width: 768px) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.wp-block-buttons>.wp-block-button {
    min-width: min(368px,100%);
}
