/* Colores */

::backdrop,
:root {

  /** Variables de color — Figma: colección "Color" **/
  --ambar-light: #e0ae92;
  --ambar:       var(--wp--preset--color--ambar);
  --ambar-dark:  #ab643e;

  --plum-light:  #72819a;
  --plum:        var(--wp--preset--color--plum);
  --plum-dark:   #1b2036;

  --white:      var(--wp--preset--color--white);
  --white-10:   #ffffff1a;
  --white-50:   #ffffff80;

  --black:      var(--wp--preset--color--black);

  --gray-light: var(--wp--preset--color--gray-light);
  --gray:       #b8b8b8;
  --gray-dark:  #413e3b;

  --black-10:   #0202021a;
  --black-20:   #02020233;
  --black-40:   #02020266;
  --black-60:   #02020299;

  --glass:      #4b4b4b33;

  --success:    #00d07e;
  --error:      #cd0000;
  /** Fin variables de color **/

  /** Semantic colors **/
  --body-color: var(--white);
  --text-color: var(--black);
  /* Fin semantic colors **/

  /** Layout variables **/

  --layout-margin: var(--wp--preset--spacing--m);
  --extrawidesize: 1440px;

  --widesize: var(--wp--layout--wideSize);

  --mediumsize: 1720px;
  --contentsize: var(--wp--layout--contentSize);

  /* Fin layout variables **/
 

  --button-padding: 12px fluid(28px, 16px);


  /** Tipography variables **/
  --base-font:  'Neue Haas Grotesk Text Pro', sans-serif;
  --heading-font: 'Neue Haas Grotesk Text Pro', sans-serif;
  --display-font: 'Century Gothic', serif;
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  --display-s-size: clamp(32px, 3.15vw, 64px);
  --display-m-size: clamp(36px, 5.3vw, 120px);
  --display-l-size: clamp(56px, 11vw, 180px);


  --base-height: 1.5;
  --display-height: 1.12;
  --h1-height: 1.12;
  --h2-height: 1.12;
  --h3-height: 1.12;
  --h4-height: 1.12;
  --h5-height: 1.12;
  --h6-height: 1.12;
  --caption-height: 1.5;

  /** Fin tipography variables **/

  --table-height: var(--base-height);

  --breakpoint-menu: $breakpoint-menu;

  --border-radius-s: fluid(16px, 8px);
  --border-radius-l: fluid(40px, 20px);

  --filter-to-white: brightness(0) invert(1);
  --filter-to-black: brightness(0) invert(0);

  --spacing-fluid-menu: fluid(110px, 76px);
  --spacing-fluid-l: fluid(120px, 40px);
  --spacing-fluid-m: fluid(80px, 40px);
  --spacing-fluid-s: fluid(40px, 24px);

  --block-padding: fluid(80px, 40px) 0;
  --innerblocks-gap: 24px;


  --modified-vh: calc(100svh - 56px);

}

.has-black-background-color,
.has-white-color {
  --wp--preset--color--glass: var(--glass-dark);
}
