/* Tipography */

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p{
  text-wrap: pretty;
}

strong, b, .u_bold {
  font-weight: var(--font-weight-bold);
}

/* 
h1, h2 {
  text-wrap: balance;
} */

p a, h1 a, h2 a, h3 a, h4 a, form a{
  &,
  &:hover,
  &:visited,
  &:active,
  &:link{
    text-decoration: underline;
  }
} 

figcaption{
  font-size: var(--wp--preset--font-size--caption);
  font-weight: var(--font-weight-regular);
  text-align: center;
}


.b-bisiesto{
  margin-block-start: 24px;
}

.b-bisiesto,
.b-bisiesto *,
.is-no-prose{
  margin-block-start: 0;
  margin-block-end: 0;
}

.b-bisiesto .is-prose > *{
  margin-block-start: var(--innerblocks-gap);
  margin-block-end: 0;
  &:first-child{
    margin-block-start: 0;
  }
}




.has-text-font-size{
  font-family: var(--base-font);
  line-height: var(--base-height);
  font-weight: var(--font-weight-regular);
  strong, b, &.u_bold{
    font-weight: var(--font-weight-bold);
  }
}

h1, .has-h-1-font-size{
  font-family: var(--heading-font);
  line-height: var(--h1-height);
  font-weight: 400;
  
  strong, b, &.u_bold{
    font-weight: 400;
  }
}


h2, .has-h-2-font-size{
  font-family: var(--heading-font);
  line-height: var(--h2-height);
  font-weight: 400;
  strong, b, &.u_bold{
    font-weight: 400;
  }
}


h3, .has-h-3-font-size{
  font-family: var(--heading-font);
  line-height: var(--h3-height);
  font-weight: 400;
  strong, b, &.u_bold{
    font-weight: var(--font-weight-bold);
  }
}


h4, .has-h-4-font-size{
  font-family: var(--heading-font);
  line-height: var(--h4-height);
  font-weight: 400;
  strong, b, &.u_bold{
    font-weight: var(--font-weight-bold);
  }
}

h5, .has-h-5-font-size{
  font-family: var(--heading-font);
  line-height: var(--h5-height);
  font-weight: 400;
  strong, b, &.u_bold{
    font-weight: var(--font-weight-bold);
  }
}

h6, .has-h-6-font-size{
  font-family: var(--heading-font);
  line-height: var(--h6-height);
  font-weight: 400;
  strong, b, &.u_bold{
    font-weight: var(--font-weight-bold);
  }
}

.caption, .has-caption-font-size, small{
  font-family: var(--base-font);
  line-height: var(--caption-height);
  font-weight: 300;
  strong, b, &.u_bold{
    font-weight: var(--font-weight-bold);
  }
}

.display-xl, .has-display-xl-font-size,
.display-l, .has-display-l-font-size,
.display-m, .has-display-m-font-size,
.display-s, .has-display-s-font-size,
.display-xs, .has-display-xs-font-size,
.display-xxs, .has-display-xxs-font-size{
  font-family: var(--display-font);
  line-height: var(--display-height);
  font-weight: 400;
  text-transform: uppercase;
  strong, b, &.u_bold{
    font-weight: 400;
  }
}


.display-xl, .has-display-xl-font-size{
  letter-spacing: 40%;
}

.display-l, .has-display-l-font-size{
  letter-spacing: 20%;
}

.display-s, .has-display-s-font-size{
  letter-spacing: 5%;
}

.display-xs, .has-display-xs-font-size{
  letter-spacing: 40%;
}









