$buttons-font: var(--heading-font);
$buttons-font-size: 16px;
$buttons-font-weight: var(--font-weight-regular);
$buttons-border-radius: 99;
$buttons-text-decoration: none;
$buttons-text-align: center;
$buttons-transition: background-color 0.3s ease-in-out;
$buttons-background-color: var(--black);
$buttons-hover-background-color: var(--gray-dark);
$buttons-color: var(--white);



.btn,
.wp-block-button .wp-element-button,
input[type="submit"]
{
  --background-color: var(--black);
  --hover-background-color: var(--gray-dark);
  --color: var(--white);
  --hover-color: var(--white);
  font-family: $buttons-font;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  padding: var(--wp--preset--spacing--s) var(--wp--preset--spacing--ml);
  border-radius: 999px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  background-color: var(--background-color);
  color: var(--color);
  border: none;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover{
    --background-color: var(--hover-background-color);
  }

  &:enabled:active{
    --background-color: var(--hover-background-color);
  }

  &:disabled{
    background-color: --gray;
    cursor: not-allowed;
  }

  .has-white-color &{
    --color: var(--black) !important;
    --hover-color: var(--white);
    --background-color: var(--white);

    &:hover{
      --background-color: var(--black);
      --color: var(--white);
    }

    &:enabled:active{
      --background-color: var(--black);
      --color: var(--white);
    }
  }
}

.btn-outline,
.wp-block-button.is-style-outline .wp-element-button
{
  background-color: transparent;
  border: 1px solid $buttons-background-color;
  color: var(--black);

  &:hover{
    background-color: $buttons-background-color;
    color: $buttons-color;
  }
}

.btn-glass,
.wp-block-button.is-style-glass .wp-element-button
{
  background-color: var(--white-10) !important;
  border: 1px solid var(--white);
  color: var(--white);

  &:hover{
    background-color: var(--white) !important;
    color: var(--black) !important;
  }

  &:enabled:active{
    background-color: var(--white) !important;
    color: var(--black) !important;
  }
}






