.c-technical-card-categories {
	background-color: var(--gray-light);
    padding: var(--wp--preset--spacing--m) 0;

    [data-device="movil"] & {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--wp--preset--spacing--m);
        padding-left: var(--layout-margin);
        padding-right: var(--layout-margin);
        [data-device="movil"] & {
            flex-wrap: nowrap;
            width: fit-content;

        }

    }

    &__link {
        text-transform: uppercase;
        display: block;
        padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--sm);
        border: 1px solid var(--gray);
        white-space: nowrap;

        &.active {
            border-color: var(--black);
        }

    }
}

.c-technical-card-body {
    display: flex;
    gap: var(--wp--preset--spacing--m);

    &__sidebar {
        width: 260px;
        display: grid;
        gap: var(--wp--preset--spacing--xl);
    }

    &__clasification-group {
        display: grid;
        gap: var(--wp--preset--spacing--sm);
    }


    &__clasification-title {
        text-transform: uppercase;
    }

    &__clasification-terms {
        display: grid;
        gap: var(--wp--preset--spacing--sm);
    }

    &__clasification-link{
        &.active {
            font-weight: var(--font-weight-bold);
            display: flex;
            align-items: center;
            gap: var(--wp--preset--spacing--xxs);
            &::before {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                background-color: var(--black);
            }
            
        }
    }

}

@media (max-width: $md) {
    .c-technical-card-body {
        flex-direction: column;
    }
}