.c-technical-card-categories {
	background-color: var(--gray-light);
    padding: var(--wp--preset--spacing--m) 0;

    [data-device="movil"] & {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--wp--preset--spacing--m);
        padding-left: var(--layout-margin);
        padding-right: var(--layout-margin);
        [data-device="movil"] & {
            flex-wrap: nowrap;
            width: fit-content;

        }

    }

    &__link {
        text-transform: uppercase;
        display: block;
        padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--sm);
        border: 1px solid var(--gray);
        white-space: nowrap;

        &.active {
            border-color: var(--black);
        }

    }
}

.c-technical-card-body {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: var(--wp--preset--spacing--m);

    &__sidebar {
        display: grid;
        gap: var(--wp--preset--spacing--xl);
    }

    &__clasification-group {
        display: grid;
        gap: var(--wp--preset--spacing--sm);
    }


    &__clasification-title {
        text-transform: uppercase;
    }

    &__clasification-terms {
        display: grid;
        gap: var(--wp--preset--spacing--sm);
    }

    &__clasification-link{
        &.active {
            font-weight: var(--font-weight-bold);
            display: flex;
            align-items: center;
            gap: var(--wp--preset--spacing--xxs);
            &::before {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                background-color: var(--black);
            }
            
        }
    }

}

.c-technical{
    &-chips {
        display: flex;
        flex-wrap: wrap;
        gap: var(--wp--preset--spacing--xs);
    }
    
    &-chip {
        padding: var(--wp--preset--spacing--xxs);
        background-color: var(--gray-light);
    }
    
    &-downloads {
        display: flex;
        flex-wrap: wrap;
        gap: var(--wp--preset--spacing--xxs);
    }
    
    &-download-link {
        display: flex;
        align-items: center;
        gap: var(--wp--preset--spacing--xxs);
    
        &::before {
            content: url('../images/download-icon.svg');
            display: block;
            width: 24px;
            height: 24px;
        }
    }
    
    &-card{
        padding: var(--wp--preset--spacing--m);
        border: 1px solid var(--black);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: var(--wp--preset--spacing--m);
    }
}

.c-technical-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--wp--preset--spacing--m);
    &.grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}





@media (max-width: $md) {
    .c-technical-card-body {

    }
}